<div class="balloon">
    <div class="header"><i class="fas fa-map-marker"></i> {{ address }} <i id="close" class="fas fa-plus fa-rotate-45"></i></div>
    <div class="reviews">
        <div class="review">
            <span class="name">svetlana</span> <span class="place">Шоколадница 13.12.2015</span>
            <p>Очень хорошее место!</p>
        </div>
        <div class="review">
            <span class="name">svetlana</span> <span class="place">Шоколадница 13.12.2015</span>
            <p>Очень хорошее место!</p>
        </div>
        <div class="review">
            <span class="name">svetlana</span> <span class="place">Шоколадница 13.12.2015</span>
            <p>Очень хорошее место!</p>
        </div>
    </div>
    <hr>
    <form action="#">
        <span class="title">Ваш отзыв</span>
        <input id="name" name="name" type="text" placeholder="Ваше имя">
        <input id="place" name="place" type="text" placeholder="Укажите место">
        <textarea id="review" name="review" cols="30" rows="10" placeholder="Поделитесь впечатлениями"></textarea>
        <button id="submit">Добавить</button>
    </form>
</div>