<div class="balloon">
    <div class="header">
        <div><i class="fas fa-map-marker"></i></div>
        <div class="address">{{ address }} </div>
        <div><i id="close" class="fas fa-plus fa-rotate-45"></i></div>
    </div>
    <div class="reviews">
        {% if reviews && reviews.length > 0 %}
        {% for review in reviews %}
        <div class="review">
            <span class="name">{{ review.firstName }}</span> <span class="place">{{ review.place }}</span>
            <p>{{ review.review }}</p>
        </div>
        {% endfor %}
        {% else %}
        <h3>Отзывов пока нет...</h3>
        {% endif %}
    </div>
    <hr>
    <form action="#">
        <span class="title">Ваш отзыв</span>
        <input id="firstName" name="firstName" type="text" placeholder="Ваше имя">
        <input id="place" name="place" type="text" placeholder="Укажите место">
        <textarea id="review" name="review" cols="30" rows="10" placeholder="Поделитесь впечатлениями"></textarea>
        <button id="submit" type="submit">Добавить</button>
    </form>
</div>