@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Medium.eot');
    src: url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Light.eot');
    src: url('../fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Light.woff2') format('woff2'),
        url('../fonts/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;

    background-color: #4f4f4f;
}

#map {
    height: 100%;
    width: 100%;
}

.fa-rotate-45 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    transform: rotate(45deg)
}

.balloon {
    width: 379px;
}

.balloon {
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
}

.balloon .header {
    height: 44px;
    background-color:  #ff8663;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 300;
    box-sizing: border-box;
    padding: 16px;
}

.balloon .header .fa-plus {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-top: -4px;
}

.balloon .reviews {
    height: 154px;
    overflow: auto;
    box-sizing: border-box;
    color:  #4f4f4f;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
}

.balloon .reviews .review {
    margin-top: 25px;
}

.balloon .reviews .review:first-child {
    margin-top: 0;
}

.balloon .reviews .review .name {
    font-weight: 500;
}

.balloon .reviews .review .place {
    color: #939393;
}

.balloon .reviews .review p {
    font-size: 15px;
    line-height: 16px;
    margin: 10px 0;
}

.balloon hr {
    margin: 0 16px;
    border: none;
    color: #f0f0f0;;
    background-color: #f0f0f0;;
    height: 1px;
}

.balloon form {
    padding: 16px 16px 52px 16px;
}

.balloon form .title {
    text-transform: uppercase;
    color: #ff8663;
    font-size: 16px;
    font-weight: 500;
}

.balloon form input {
    height: 32px;
}

.balloon form textarea {
    height: 129px;
}

.balloon form input,
.balloon form textarea,
.balloon form button {
    margin-top: 16px;
}

.balloon form input,
.balloon form textarea {
    display: block;
    width: 100%;
    border: 1px solid #c4c4c4;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

.balloon form input::placeholder,
.balloon form textarea::placeholder {
    color: #9f9f9f;
    opacity: 1;
}

.balloon form input:-ms-input-placeholder,
.balloon form textarea:-ms-input-placeholder {
    color: #9f9f9f;
}

.balloon form input::-ms-input-placeholder,
.balloon form textarea::-ms-input-placeholder {
    color: #9f9f9f;
}

.balloon form input {
    border-radius: 15px;
}

.balloon form textarea,
.balloon form button {
    border-radius: 10px;
}

.balloon form button {
    background-color: #ff8663;
    color: #ffffff;
    padding: 9px 17px;
    box-sizing: border-box;
    height: 30px;
    border: none;
    font-size: 12px;
    font-weight: 300;
    margin-top: 12px;
    float: right;
}